{% extends 'basic.html' %}

{% block title %}BLog Post{% endblock title %}
{% block body %}
<div class="container my-3">
    
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} <a href="#">{{post.author}}</a></p>        
        <p>{{post.content}}</p>
        <hr>
        
    </article>
</div>
<div class="container">
    <h2>Comments</h2>
    <div class="container">
    <form action="/blog/postComment" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" type="text" name = "comment" placeholder="Enter Comment here">
            <input type="hidden" name = "postSno" value="{{post.sno}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="row">
        <div class="col-md-2">Image here</div>
        <div class="col-md-10">Comment here</div>
    </div>
</div>
{% endblock body %}