{% extends 'basic.html' %}

{% block title %}BLog Post{% endblock title %}
{% block body %}
<div class="container my-3">
    
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} <a href="#">{{post.author}}</a></p>        
        <p>{{post.content}}</p>
        <hr>
        
    </article>
</div>
<div class="container">
    <h2>Comments ({{comments.count}})</h2>
    <div class="my-2">
        {% if user.is_authenticated %}
    <form action="/blog/postComment" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" type="text" name = "comment" placeholder="Enter Comment here">
            <input type="hidden" name = "postSno" value="{{post.sno}}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% else %}
      <p>Log in to post a comment
      {% endif %}
    </div>
    {% for comment in comments  %}
    <div class="row my-2">
        {% load humanize %}
        <div class="col-md-1">
            <img class="img-thumbnail rounded-circle" src="/static/img/user.png" alt="">
        </div>
        <div class="col-md-11"> <b>{{comment.user.username}}</b> <span class="badge bg-secondary">{{comment.timestamp | naturaltime}}</span>
            <div> {{comment.comment}}
            </div>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}